body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5B545F;
}

/*-----navbar START-----*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}
/*Ensures each nav-item takes up the same amount of space within the width and centers them vertically*/
.nav-item {
    flex: 1;
    display: flex;
    align-items: center;
}
/*Align the first div to the leftmost side*/
.nav-item:first-child {
    margin-right: auto;
}
/*Align the second div to the center*/
.nav-item:nth-child(2) {
    justify-content: center;
}
/*Align the third div to the rightmost side*/
.nav-item:nth-child(3) {
    justify-content: flex-end
}
/*Change icon color and size*/
nav i {
    font-size: 30px;
    color: #FFFFFF;
    padding: 2px;
}
/*Change "Coffee House" to white*/
nav h1 {
    color: white;
    margin: 0;
}
/*Removes hyperlink for anchor and change color*/
nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 14px;
}
/*Change anchor color upon mouse hover*/
nav a:hover {
    color: #FFD7AB;
}
/*-----navbar END-----*/

/*Container for forms*/
.container {
    display: flex;
    flex-direction: column;
}

form {
    padding: 15px;
    background-color: #FFD7AB;
}

#roast-buttons {
    display: flex;
    justify-content: center;
}
/*Removes background so that buttons uses form bg and adds spacing*/
#roast-buttons .roast-button {
    background: none;
    border: none;
    padding: 40px;
    cursor: pointer;
}
/* Adjust the positioning of the <p> element inside the .roast-button */
.roast-button {
    position: relative;
}

#roast-buttons .roast-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

#roast-buttons img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /*Make the images circular*/
}

#roast-buttons img:hover {
    transform: scale(1.2); /* Zoom in on hover */
}

/*Ensures div is not covered by bottom row*/
#coffees {
    margin-bottom: 70px;
}

/*positioning and style for the bottom row*/
.bottom-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}

#addCoffeeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

#bottom-text {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* Style for coffee boxes */
.coffee {
    position: relative;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #FFD7AB;
    height: 150px;
    width: 250px;
    border-radius: 50px;
    display: inline-flex;
}

.coffee-name {
    position: absolute; /* Set position to absolute */
    top: 50%; /*same as roast-buttons*/
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}

.coffee-roast {
    position: absolute; /* set the position of the circle */
    top: -10px;
    right: -15px;
    display: flex; /*aligns the text within the circle*/
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #71CFB8;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bolder;
}